<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking - Football Pitch Booking</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='media/ERIC.D.png') }}" alt="Profile Icon">
            </a>
        </div>
        <ul id="menuList">
            <li><a href="{{ url_for('booking') }}">Booking</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        <div class="profileicon">
            <a href="{{ url_for('account') }}">
                <img src="{{ url_for('static', filename='media/profiileicon.png') }}" alt="Profile Icon">
            </a>
        </div>
    </nav>
</header>
    <h1>All Bookings</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Pitch</th>
                <th>Start</th>
                <th>End</th>
                <th>Date</th>
                <th>Amenities</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.pitch }}</td>
                <td>{{ booking.start }}</td>
                <td>{{ booking.end }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.amenities }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
