<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <script type="text/javascript" defer src="{{url_for('static', filename='scripts/navbar.js')}}"></script>
</head>
<body>
<div class="content">
    <div class="nav-container">
        <nav>
            <ul class="desktop-nav">
                <li><a href="{{ url_for('test') }}">Home</a></li>
                <li id="booking"><a href="{{ url_for('booking') }}">Booking</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li id="account"><a href="{{ url_for('account') }}">Account</a></li>
                <li id="log_in"><a href="{{ url_for('form_r') }}">Log In</a></li>
            </ul>
        </nav>
    </div>
    <button onclick="log_out()"> Logged Out </button>
    <button onclick="log_in()"> Logged In </button>
</div>
</body>
</html>