<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
    <script src="script.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/svg/home.svg') }}">
</head>
<body class="account-page">
    <div class="nav-container">
<header>
    <nav>
        <div class="logo">
         <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='media/ERIC.D.png') }}" alt="Profile Icon">
            </a>        </div>
        <ul id="menuList">
        <li><a href="{{ url_for('booking') }}">Booking</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        <div class="profileicon">
            <a href="{{ url_for('account') }}">
                <img src="{{ url_for('static', filename='media/profiileicon.png') }}" alt="Profile Icon">
            </a>
        </div>
    </nav>
</header>
</div>
    <div class="container">
        <div class="middle">
            <div class="text">Sign In</div>
        </div>
    </div>

    <div id="signinform">
        <form class="container" action="{{ url_for('login') }}" method="post">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required><br>
            <button type="submit" class="button-group" id="signin">Sign In</button>
        </form>
    </div>
</body>
</html>
 