<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <script type="text/javascript" defer src="{{url_for('static', filename='scripts/test.js')}}"></script>
</head>
<body>
    <div class="nav-container">
        <nav>
            <ul class="desktop-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('booking') }}">Booking</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('account') }}">Account</a></li>
                <li><a href="{{ url_for('test') }}">Test</a></li>
            </ul>
        </nav>
    </div>
    <section class="hidden">
        <h1>About us</h1>
    </section>

    <section class="hidden">
        <h2>Loreum Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sapien eros, laoreet ac condimentum sit amet, finibus vitae leo. Aenean iaculis nisi in vehicula volutpat.
            Aliquam non dignissim velit, in rutrum quam. Nulla facilisi. Vivamus sollicitudin tempor augue, nec semper eros efficitur vitae. Cras sollicitudin, ex vel fermentum egestas, tortor eros semper metus, quis feugiat ligula felis scelerisque tortor.
            Cras tincidunt dolor non molestie finibus. Sed consectetur in sem quis accumsan. Nam vehicula mattis enim, non tempus diam tincidunt quis. Proin malesuada nisl at ante dapibus venenatis. Pellentesque arcu metus, tempus non nunc et, condimentum suscipit enim.
            Vivamus convallis justo risus, et lacinia justo pulvinar a. Etiam faucibus imperdiet lectus eu congue. Maecenas ac condimentum velit. Donec condimentum velit in pretium sagittis. Pellentesque justo ex, interdum sit amet sem vel, laoreet lacinia odio.
        </p>
    </section>

    <section class="hidden">
        <h2>Loreum Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sapien eros, laoreet ac condimentum sit amet, finibus vitae leo. Aenean iaculis nisi in vehicula volutpat.
            Aliquam non dignissim velit, in rutrum quam. Nulla facilisi. Vivamus sollicitudin tempor augue, nec semper eros efficitur vitae. Cras sollicitudin, ex vel fermentum egestas, tortor eros semper metus, quis feugiat ligula felis scelerisque tortor.
            Cras tincidunt dolor non molestie finibus. Sed consectetur in sem quis accumsan. Nam vehicula mattis enim, non tempus diam tincidunt quis. Proin malesuada nisl at ante dapibus venenatis. Pellentesque arcu metus, tempus non nunc et, condimentum suscipit enim.
            Vivamus convallis justo risus, et lacinia justo pulvinar a. Etiam faucibus imperdiet lectus eu congue. Maecenas ac condimentum velit. Donec condimentum velit in pretium sagittis. Pellentesque justo ex, interdum sit amet sem vel, laoreet lacinia odio.
        </p>
    </section>

    <div class="wrapper">
        <div class="container">
            <input type="radio" name="slide" id="c1" checked>
            <label for="c1" class="card">
                <div class="row">
                    <div class="icon">1</div>
                    <div class="description">
                        <h4>Test Description</h4>
                        <p>Test Text</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c2">
            <label for="c2" class="card">
                <div class="row">
                    <div class="icon">2</div>
                    <div class="description">
                        <h4>Test Description2</h4>
                        <p>Test Text2</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c3">
            <label for="c3" class="card">
                <div class="row">
                    <div class="icon">3</div>
                    <div class="description">
                        <h4>Test Description3</h4>
                        <p>Test Text3</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c4">
            <label for="c4" class="card">
                <div class="row">
                    <div class="icon">4</div>
                    <div class="description">
                        <h4>Test Description4</h4>
                        <p>Test Text4</p>
                    </div>
                </div>
            </label>
        </div>
    </div>
</body>
</html>