*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background: transparent;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #257400;
    position: relative;
    height: 70px;
}

.logo{
    color: #fff;
}

.logo img {
    width: 100px;  /* Adjust the width as necessary */
    height: auto;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
/* Card styles */
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white; /* Changed to white */
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: #333; /* Changed to a darker color for readability on white background */
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 150px;
    width: 600px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: white;
    padding-top: 17px;
}

.description h4 {
    text-transform: uppercase;
    color: white;
}

input {
    display: none;
}

input:checked + label {
    width: 800px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../media/pitch1.jpg');
    object-fit: cover;
}

.card[for="c2"] {
    background-image: url('../media/pitch2.webp');
    object-fit: cover;
}

.card[for="c3"] {
    background-image: url('../media/pitch3.jpg');
    object-fit: cover;
}

.card[for="c4"] {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALYAAAC2CAMAAABDLoc2AAAAA1BMVEUAAACnej3aAAAAN0lEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8A2CGgABvGlVPgAAAABJRU5ErkJggg==");
    object-fit: cover;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#89ce94, #6ccff6);
    border-radius: 5px;
    opacity: 0.3;
    transition: opacity 400ms;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#71ff4e, #07b9ff);
    opacity: 1;
}