* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    min-height: 100vh;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.main-title {
    pointer-events: none;
    font-size: 5rem;
    background-image: linear-gradient(#183960, #102544);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade ease-in 1s;
    text-align: center;
}

h1,
h2 {
    color: #444;
}
h3 {
    text-align: center;
    color: #999;
}
.btn {
    display: inline-block;
    border-radius: 4px; 
    padding: 10px 20px;
    margin: 10px 0;
    background: linear-gradient(-45deg, #b889ce, #192A51, #358CC9, #6CCFF6);
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    text-decoration: none;
}
.btn:hover {
    background-position: 0 0;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table {
    padding: 10px;
}
th,
td {
    text-align: left;
    padding: 8px;
}
.side-menu {
    position: fixed;
    background: linear-gradient(-45deg, #b889ce, #192A51, #358CC9, #6CCFF6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li:hover {
    background: rgba(41, 70, 255, 0.349);
    border: #444;
    color: #000000;
}
.container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #f1f1f1;
}
.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}
.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .user img {
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content {
    position: relative;
    min-height: 90vh;
    background: #f1f1f1;
}
.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card {
    border-radius: 8px;
    width: 350px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container .content .content-2 .bookings {
    border-radius: 8px;
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .users {
    border-radius: 8px;
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .users table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}
@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}
@media screen and (max-width: 1155px) {
    .container .content .cards .card {
        width: 250px;
    }
}
@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}
@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}

.pitch1 {
    color:#192A51;
}

.pitch2 {
    color:#b889ce;
}

.pitch3 {
    color:#6CCFF6;
}

.pie-key {
    float: right;
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Set background to black with 70% opacity */
    padding-bottom: 15.8vh;
  }
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Set background color to black with 50% opacity */
    width: 100%; /* Ensure full width of page */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0; /* Remove default margin */
    position: fixed; /* Fix the nav bar to the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }
  
  .logo a {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .logo img:hover {
    transform: scale(1.1);
  }
  
  #menuList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #menuList li {
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 4px;
  }
  
  #menuList li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease, border-bottom 0.3s ease;
    font-size: 15px;
    position: relative; /* Add relative positioning */
  }
  
  #menuList li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjusts the distance between the text and the underline */
  }
  
  #menuList li a:hover::after {
    width: 100%; /* Expands the underline to the full width of the text */
  }
  
  .profileicon {
    display: flex;
    align-items: center;
    padding-right: 50px;
  }
  
  .profileicon a {
    display: flex;
    align-items: center;
  }
  
  .profileicon img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .profileicon img:hover {
    transform: scale(1.1);
  }
  
  .editForm {
    margin-top: 10px;
    padding: 15px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .editForm label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .editForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }