*,*::after,*::before { margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b8/Etihad_Stadium.jpg");
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

.nav-container{
    background: rgba(0, 0, 0, 0.8);
    height: 44px;
    z-index: 300;
    position: auto;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav{
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
    list-style: none;
}

nav .desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav .desktop-nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 400ms
    list-style: none;
}

nav .desktop-nav li a:hover{
    opacity: 1;
}



#bookingform {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bookingform form {
    display: flex;
    flex-direction: column;
}

#bookingform label {
    margin-bottom: 5px;
    font-weight: bold;
}

#bookingform input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#bookingform button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#bookingform button:hover {
    background-color: #45a049;
}

@import "compass/css3";


	.canvas-holder {
    	display:block;
		width:98%;
		height:100vh;
	}

	// Sample class for detecting browser size in jQuery

	.phone {
	    float:left;
	}

	.tablet {
	  float:left;
	}

	.small-desktop {
	  float:left;
	}

	.large-desktop {
	  float:left;
	}

	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-width : 320px)
	and (max-width : 768px) {
	   .phone {
	      float:none;
	  }
	}

	/* iPads (portrait and landscape) ----------- */
	@media only screen
	and (min-width : 768px)
	and (max-width : 1024px) {
	  .tablet {
	      float:none;
	  }
	}

	/* Desktops and laptops ----------- */
	@media only screen
	and (min-width: 1025px)
	and (max-width:1600px) {
	  .small-desktop {
	      float:none;
	  }
	}

	/* Large screens ----------- */
	@media only screen
	and (min-width : 1601px) {
	  .large-desktop {
	      float:none;
	  }
	}
